body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="file"],
button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* 使用flex布局，左右并排 */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 左右侧格子占据一版宽度 */
.left-column, 
.right-column {
    flex:1;
    padding: 20px;
    /* background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 48%; */
}